@import "node_modules/ol/ol.css";

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(69, 133, 136);
    background-size: 60px 60px;
    background-image:
        linear-gradient(to right, #83a598 1px, transparent 1px),
        linear-gradient(to bottom, #83a598 1px, transparent 1px);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-family: "Rubik Maps", system-ui;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    color: #fbf1c7;
    /* color: #ebdbb2; */
    margin: 0;
    text-align: center;
}

h2 {
    font-family: "Rubik Mono One", monospace;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    /* color: #d5c4a1; */
    color: #282828;
    text-align: center;
}

.landing-screen {
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* button design by Paper CSS - https://getcssscan.com/css-buttons-examples */
.scroll-button {
    align-self: center;
    background-color: #bdae93;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    margin-top: 40px;
    font-family: "Rubik Mono One", monospace;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #282828;
}

.scroll-button:hover {
    background-color: #a89984;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.scroll-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#map-div {
    width: 95vw;
    margin: auto;
}

#map {
    flex: 1;
    position: relative;
    height: 80vh;
}

#popup-content {
    font-family: "Rubik Mono One", monospace;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.ol-popup {
    position: absolute;
    background-color: rgb(124, 111, 100);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 10px;
    padding-top: 15px;
    border-radius: 10px;
    bottom: 5px;
    left: -31px;
}

.ol-popup:after {
    top: 98%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: rgb(124, 111, 100);
    border-width: 10px;
    left: 19px;
}

.plane {
    position: absolute;
    display: flex;
    width: 126px;
    height: 43px;
    margin: 40px auto;
    animation: flight 15s linear infinite;
}

#plane-object {
    width: 126px;
    height: 43px;
}
  
.plane svg {
    animation: plane-stutter 5s infinite;
}
  
.smoke1 {
    animation: smoke 1s infinite;
}
  
.smoke2 {
    animation: smoke 1s infinite;
    animation-delay: 0.4s;
}
  
.smoke3 {
    animation: smoke 1s infinite;
    animation-delay: 0.2s;
}
  
.smoke4 {
    animation: smoke 1s infinite;
    animation-delay: 0.7s;
}
  
.path {
    animation: draw 0.2s linear infinite;
}
   
@keyframes draw {
    50% {
        stroke-dashoffset: 0;
    }
}
  
@keyframes plane-stutter {
    0% {
        transform: translateY(100%);
    }
    
    25% {
        transform: translateY(20%);
    }
    
    50% {
        transform: translateY(80%);
    }
    
    75% {
        transform: translateY(0%);
    }
    
    100% {
        transform: translateY(100%);
    }
}

@keyframes smoke {
    0% {
        transform: translateX(100%);
    }
    
    70% {
        opacity: 0.8;
    }
    
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes plane-stutter {
    0% {
        transform: translateY(100%);
    }
    
    25% {
        transform: translateY(20%);
    }
    
    50% {
        transform: translateY(80%);
    }
    
    75% {
        transform: translateY(0%);
    }
    
    100% {
        transform: translateY(100%);
    }
}

@keyframes flight {
    0% {
        transform: translateX(-650%);
    }
    
    100% {
        transform: translateX(650%);
    }
}
